<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
      
    <title>
        Draw with the mouse in a HTML5 canvas
    </title>
      
    <style>
        * {
            overflow: hidden;
        }
    </style>
</head>
  
<body>
    <h1 id = "heading">Drawn number interpreter</h1>
    <h3 id = "instructions">Draw the numbers distinctly for the machine to recognize it</h3>
    <h3 id = "details">At the heart of the app there is a Convolutional Neural Network which has been trained on the mnist digits dataset for 50 epochs. It can classify any properly hand drawn digit using Supervised Machine Learning.</h3>
    <hr>
    <form enctype="multipart/form-data" method = "post">
        <div id = "canvas-div">
        <canvas id="canvas"></canvas>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Machine thinks it is {{ data }}</h1>
        </div>
        <div id = "save-div">
            <button class = "btn" id = "clear" type = "button">Clear</button>
            <button class = "btn" id = "save" type = "submit">Predict</button>
        </div>
        <input type="hidden" id = 'url' name="url" value="">
    </form>
    <script src="{{ url_for('static', filename='js/drawing.js') }}"></script>
</body>
</html>